---
import Layout from '../components/Layout.astro';
---

<Layout title='The Scribe FPS'>
  <div class='flex flex-nowrap'>
    <div class='w-1/2 flex flex-col items-center justify-center'>
      <div class='flex flex-col gap-6'>
        <div>
          <p class='text-pink-400 font-bold text-5xl mb-2'>The Scribe FPS</p>
          <p class='text-black font-bold text-5xl'>Online</p>
        </div>
        <p class='text-black font-light'>The place for all your favorite articles</p>
        <div class='flex gap-6'>
          <a href='/archive'>
            <button class='transition bg-pink-400 py-2 px-4 text-white rounded-full hover:bg-pink-500'
              >Latest Issue</button
            >
          </a>
          <a href='/about'>
            <button class='transition bg-slate-200 py-2 px-4 text-black rounded-full hover:bg-slate-300'
              >About Us</button
            >
          </a>
        </div>
      </div>
    </div>

    <div class='w-1/2 min-h-screen overflow-hidden'>
      <img src='./staff/staffpic.png' class='object-cover h-full w-full' />
    </div>
  </div>
</Layout>
