---
import Layout from 'components/Layout.astro';
import Hero from 'components/Hero';
import { client, getUrlByRef } from 'lib/sanityClient';
const staffInfo = await client.fetch(`*[_type == "staffInfo"]`);
const staffPicRef = staffInfo[0].staffPic.asset._ref;
const staffPicUrl = await getUrlByRef(staffPicRef);
---

<Layout title='The Scribe FPS'>
  <div class='flex-col md:flex-row flex'>
    <div class='md:w-1/2 flex flex-col md:items-center justify-center p-8 md:p-0 w-full'>
      <Hero client:visible />
    </div>

    <div class='md:h-auto h-1/2 base:min-w-screen md:w-1/2 md:min-h-screen overflow-hidden'>
      <img src={staffPicUrl} class='object-cover h-full w-full' />
    </div>
  </div>
</Layout>
