---
import { Icon } from 'astro-icon';

interface Props {
  absolute: boolean | undefined;
}

const { absolute } = Astro.props as Props;
---

<div
  class={`flex w-full items-center justify-between bg-pink-300 px-6 py-2 font-light ${
    absolute ? 'sticky bottom-0' : ''
  }`}
>
  <p class='text-lg sm:text-xl md:text-2xl md:block hidden'>Francis Parker School - Since 1912</p>
  <p class='text-lg sm:text-xl md:text-2xl md:hidden'>Francis Parker School</p>
  <div class='flex ml-auto'>
    <p class='text-lg mr-2'>Follow us on Instagram!</p>
    <a href='https://www.instagram.com/thescribe.fps/' target='_blank'>
      <Icon name='brandico:instagram-filled' height='25' />
    </a>
  </div>
</div>
